[2020-07-01 17:16] kellijohnson-NOAA opened #1 "How to provide background material"
Decide how to provide background material because the ftp site is not always accessible to readers, especially once the STAR panel is over.

- Create an appendix
- Provide links to them
- Pull all information out into the main document

[2020-07-01 20:57] kellijohnson-NOAA opened #2 "List of accessibility references"
All pdf documents need to be 508 compliant. Below are some resources to increase the compliance of documents created by sa4ss.

* [Rich Schwinn](http://www.richschwinn.com/accessibility/accessibility_post_processing.R)
* [Latex accessibility package](http://ctan.math.washington.edu/tex-archive/macros/latex/contrib/accessibility/accessibility.pdf)

[2020-07-17 19:34] chantelwetzel-noaa commented on #1
Based on discussion between Kelli and I, currently, we are opting to present the background documentation in an appendix.  The texts for the appendix will be developed into an Rmarkdown file and can be added easily to an assessment via a child process.  This decision was driven by the 'living' nature of the document which may need to be updated each assessment cycle depending upon non-standard sam

[2020-11-19 15:10] kellijohnson-NOAA opened #3 "Tex software"
Miktex vs. tinytex and I am sure there are others out there. The latter installs packages on the fly, where the former has a setting that must be changed to allow packages to be updated / installed on the fly. NOAA computers are a pain with respect to permissions and this leads to drama when trying to install things on the fly. The readme page and or a helper function should be installed such that

[2020-11-19 17:05] iantaylor-NOAA commented on #3
I get that bringing everyone over to tinytex could be hard, but I have found it much easier to deal with than MikTeX and have been able to get everything installed without admin privileges. It seems that making the switch is all-or-nothing in that having parallel tex installations on the computer caused a lot of problems for me at first.

[2020-11-19 17:32] chantelwetzel-noaa commented on #3
@iantaylor-NOAA tinytex has actually changed the error thrown when there were other tex installations to [just a warning](https://github.com/yihui/tinytex/issues/102).  It appears that when there are parallel versions of tex installed if the user is rendering their file from R it will default to tinytex and ignore other installations.  I have been testing this on my machine that had MikTeX install

[2020-11-19 18:02] iantaylor-NOAA commented on #3
Thanks for the information @chantelwetzel-noaa, and welcome to the happy world of tinytex.
I think it's totally reasonable to require everyone using this package to go through the 2-step tinytex install manually.

I just learned that require() returns (invisibly) a logical indicating whether the required package is available, so it's possible to add a command like
[code]
However, I don't know if t

[2020-11-19 18:35] kellijohnson-NOAA commented on #3
I think we want to be careful of things like require() and library() that load / install packages within other functions. Supposedly, bookdown has tinytex as a dependency and it should be installed because bookdown is a dependency here. I will look into why that broke for Chantel. Maybe because there was an installation of MikTex?

[2020-11-19 22:20] chantelwetzel-noaa opened #4 "Need to fix read_model directory locating"
I created a function to read an SS model, create tables with formatting for use in the document, and to generate the executive summary tables.  Items that will be useful to have linked to the model (model years, spr targets) for the document are saved to an Rdata object. Right now this Rdata object is saved to the working directory under the assumption that the user has specified it.  There needs

[2020-12-04 00:16] chantelwetzel-noaa opened #5 "Executive Summary Table & Figure Numbering"
The default approach is currently set to numerical (table 1 or figure 1) and needs to be updated to be changed to alphabetical (table a or figure a).  After the executive summary section the counter will need to be reset and changed to numerical numbering.

[2020-12-04 00:20] chantelwetzel-noaa opened #6 "Text Across Multiple Documents"
I found a way to reference tex or rmd files that are outside the main directory where the document is being rendered by using the LaTeX command \input which will be useful to create area specific assessment documents for a single-species.  However, the bib file is not being located for those files.  Need to update the packages in the  sa4ss.sty.  I tried following the guidance [here](https://tex.s

[2020-12-04 17:39] kellijohnson-NOAA commented on #6
Thanks @chantelwetzel-noaa for trying things out.

Is the issue that you want to include multiple bib files or the bibliographic references that are in a shared file used via \input are not being rendered?

[2020-12-04 17:58] #5 closed

[2020-12-04 18:00] kellijohnson-NOAA commented on #5
Thanks @chantelwetzel-noaa, this was a quick fix and should be correct now.

[2020-12-04 20:05] chantelwetzel-noaa commented on #6
In theory we should be able to have one single bib file, but there are issues with LaTeX locating that bib for docs outside the main folder.  This [issue](https://tex.stackexchange.com/questions/192534/how-to-access-files-outside-of-current-direcory) show what I am thinking of in terms of folder structure where.  My [repo](https://github.com/chantelwetzel-noaa/copper_rockfish_2021/tree/master/writ

[2020-12-09 14:27] chantelwetzel-noaa commented on #6
@kellijohnson-NOAA found a solution using knit:

[code]

[2020-12-09 14:27] #6 closed

[2020-12-09 14:29] kellijohnson-NOAA commented on #6
see 114b238a372d0489211d541f135ecc4ae83ab2f9 for a wrapper function for the code above.

[2020-12-10 15:32] melissamonk-NOAA commented on #3
I am 100% also behind everyone switching to tinytex and recommend it be installed directly from GitHub.  I've found it can often take a little tinkering to install, but have managed to be successful and much easier than dealing with admin privileges to install packages via MiKTeX, especially for those venturing into markdown and tex for the first time.

[2020-12-10 15:36] melissamonk-NOAA opened #7 "Package warnings (utf8 and babel)"
This may or may not be an issue, but I'm receiving a few warnings when I compile a document via sa4ss.
Package inputenc Warning: inputenc package ignored with utf8 based engines.
Package datetime2 Warning: Date-Time Language Module `english' not installed on
input line 1913.
Package glossaries warning: NO language module detected for 'english'

I wanted to document these as I try out the package.

[2020-12-10 15:41] chantelwetzel-noaa commented on #7
I get the same set of warnings (but have been ignoring them) but it would be good to understand what is causing these errors and if it can be resolved.

[2020-12-10 15:41] kellijohnson-NOAA commented on #7
Thanks @melissamonk-NOAA the first one is my error that comes up on my machine as well, I know how to fix it but haven't yet. The second one is for 508 compliance where we define the language of the document. I am not sure which package this is, but I think it has to do with babel.
The third will hopefully go away with the installation of babel.

[2020-12-10 16:36] melissamonk-NOAA commented on #7
@kellijohnson-NOAA, the second two errors does appear to be a babel issue that's solved with \usepackage[english]{babel} . Note that I have not actually cloned the repo to pull requests.

[2020-12-10 16:43] kellijohnson-NOAA commented on #7
There is an [if statement in the style file](https://github.com/nwfsc-assess/sa4ss/blob/6b109e44a325772617d00cb333ba55001b615ef9/inst/rmarkdown/templates/sa/resources/sadraft.tex#L205) that is supposed to load babel when needed b/c a different package is used under some circumstances. I am not sure why this isn't working with tinytex, or maybe it isn't working for other reasons.

[2020-12-10 16:44] kellijohnson-NOAA commented on #7
hmm, now that I think about it more, maybe babel needs to be loaded before this and the statement just alters the specifications. Clearly, I need to think about this more.

[2020-12-10 17:00] melissamonk-NOAA commented on #7
Thanks for that link...I was looking in [the sa4ss.sty style file](https://github.com/nwfsc-assess/sa4ss/blob/master/inst/rmarkdown/templates/sa/skeleton/sa4ss.sty) .  Obviously still learning my way around what you've done!

[2020-12-10 19:36] kellijohnson-NOAA opened #8 "species name for complex"
Ensure that the template works for a species that is a complex, which would include multiple species names. Maybe vest to supply a vector of names then use knitr::cantrememberthename() that will paste them together with the appropriate commas and ands.

Second issue with this is how to write it out after the first instance. @melissamonk-NOAA do you want an abbreviation b/c you don't want to type t

[2020-12-10 20:07] melissamonk-NOAA commented on #8
The answer is going to depend..... For gopher/black-and-yellow I used GBYR as an abbreviation throughout the assessment, but for the vermilion/sunset assessment we're going to refer to the complex as just vermilion throughout the document.  You could add an T/F complex trigger to the draft, and then supply the list of the complex common and scientific names, and then the name to use throughout the

[2020-12-10 20:10] melissamonk-NOAA opened #9 "Coast name"
Another consideration in the for the coast element in the draft is that the area-specific assessments will probably need more detail included than just U.S. West Coast.  I'll likely want the northern vermilion assessment to read something like "...along the California Coast from Point Conception north"

[2020-12-10 20:24] chantelwetzel-noaa commented on #9
Good point.  For copper I have started by specifying coast = "Washington US West" inside the draft function which then creates the title as:

"...along the **Washington US West** Coast in 2020"

we may want to decide if we to decide whether we want to revise the pasted text after the coast input to include Coast by default or not.

[2020-12-16 23:17] kellijohnson-NOAA commented on #7
@melissamonk-NOAA or @chantelwetzel-noaa can you run the following from the command line on the computer that was generating the above errors
[code]
where the above was recommended on the [tinytex website](yihui.org/tinytex)
I think that you are just missing a package that is used for dates, but I don't want to call the package directly because it is just being used as a dependent of something els

[2020-12-16 23:42] chantelwetzel-noaa commented on #7
I ran the above command on the command line, although I don't have the tech skills to know if I did it right or if it worked.  Either way I am still getting both of the above errors identified in this issue.  I wanted to read up to see if I misunderstood the directions but the the link provided does not work.

[2020-12-17 00:07] kellijohnson-NOAA commented on #7
The command doesn't do anything other than let us know where the file exists on your computer. I am trying to see if the package is installed or if it needs to be installed. I updated the link.

[2020-12-17 00:15] chantelwetzel-noaa commented on #7
Ok.  This is what I get when I run this on the command line:

tlmgr.pl: package repository https://ctan.math.illinois.edu/systems/texlive/tlnet (verified)
datetime2:
        texmf-dist/tex/latex/datetime2/datetime2.sty

I still don't know what is happening  :)  I will read through the tinytex guide and see if I can understand what I should be doing and / or seeing.  Thanks for digging in on this @

[2020-12-17 00:18] kellijohnson-NOAA commented on #7
thanks for the output, it is saying that the datetime2.sty file is in the datetime2 package; so, no smoking gun there. now, can you add \usepackage{datetime2} to the sa4ss.sty file in your local folder and run bookdown::render_book() to see if the error goes away. we might just have to call it directly.

[2020-12-17 15:49] kellijohnson-NOAA commented on #7
[tinytex](https://github.com/yihui/tinytex) lists the [LaTeX packages that are installed automatically](https://tinytex.yihui.org/pkgs-yihui.txt) and datetime2 is not standard. There is a tinytex function called tinytex::post_install_config(extra_packages) that we might be able to call if adding datetime2 or datetime2-english to the .sty file doesn't work.

[2020-12-17 16:06] chantelwetzel-noaa commented on #7
Adding \usepackage{datetime2} the sty file did not work and actually resulted in an error when rendering:

Unmatched ( in regex; marked by <-- HERE in m//( <-- HERE .sty/ at C:\Users\CHANTE~1.WET\AppData\Roaming\TinyTeX\texmf-dist\scripts\texlive\tlmgr.pl line 1782.
Error in grep(paste0("/", x[j], "$"), l) :
  invalid regular expression '/(.sty$', reason 'Missing ')''

The post_intall_config funct

[2020-12-17 16:16] kellijohnson-NOAA commented on #7
https://github.com/yihui/tinytex/blob/e75e44b1b2b2653182b396f1796802a8b2090dd8/R/install.R#L372 it is not exported, which makes me think that I am thinking to hard about this and that there is a different way to go about this :( Maybe we should instead be using tinytex::tlmgr_install() but it says LaTeX packages should be installed on the fly. Can you try
[code]

[2020-12-17 16:34] chantelwetzel-noaa commented on #7
This function appeared to work, but I am not sure if it executed anything since I already had the datetime2 package on my machine.  Running the above line resulted in the following output on the R terminal:

tlmgr install datetime2
tlmgr.pl: package repository https://ctan.math.illinois.edu/systems/texlive/tlnet (verified)
tlmgr.pl install: package already present: datetime2

I then tried to rende

[2020-12-17 16:58] kellijohnson-NOAA commented on #7
Can you look at 2 things before we table it for a while?
(1) try tinytex::tlmgr_install("datetime2-english")
(2) i am wondering what line 1913 is? Is there a line 1913 in _main.tex? It would just be nice to know why in the heck we have to have the datetime2 package anyway, I think it is because of babel, but I am not certain. Typically, it is needed for things like `\today` which we don't have I t

[2020-12-17 19:55] chantelwetzel-noaa commented on #7
Eureka!  Specifying that we should install the datetime2-english package eliminated this warning.  I forgot to mention that there is no line 1913 in the _main.tex file (less than 1000 lines in the file total) which made the error even more puzzling.

[2021-01-04 00:10] chantelwetzel-noaa commented on #7
I just tried to create a new document based on the current version of the package and the datetime2-english package being required on line 63 of the sa4ss.sty file results in a render issue.  Commenting out this line allows the document to render, however, I received an error about english not being found in the glossaries. I installed the "glossaries-english" package using the command tinytex::tl

[2021-01-04 15:35] kellijohnson-NOAA commented on #7
I wonder if how they are being called is why they are not working with tinytex. I am using MikTex, so I don't run into the same problem. I will try to install tinytex on another machine and see if I get the same error.

[2021-01-09 00:03] iantaylor-NOAA commented on #7
Adding to this discussion in case it helps.

I just tried to compile to SS_documentation repository to confirm that I'm not breaking anything while adding a few things. Clicking "Compile PDF" in RStudio as I'd done before led to errors about missing .sty files.
I was able to install these one at a time using `tinytex::parse_install("SS330_User_Manual.log")` (inspired by Info at https://bookdown.or

[2021-01-09 00:09] chantelwetzel-noaa commented on #7
@iantaylor-NOAA Keep in mind that I enforce the policy of "if you break it - you bought it" with the S330_User_Manual.  Since you were able to get this to work on the SS user manual, I will be interested to hear what you encounter when using sa4ss.

[2021-01-12 01:22] iantaylor-NOAA commented on #7
I just tried `bookdown::render_book("00a.Rmd", clean = FALSE, output_dir = getwd())`
and it loaded some things automatically, but not `datetime2-english.sty` (see output below).

Also, I had these messages following the example in README: `argument "authors" is missing, with no default` and `Error in setwd("doc") : cannot change working directory`. I'm assuming the example is just out of date with

[2021-01-12 13:26] chantelwetzel-noaa commented on #7
Thank you for the feedback @iantaylor-NOAA.  Try running this line in your R seession:

tinytex::tlmgr_install("datetime2-english")

I think the other two warning messages were because the example in readme does not include the directions to set your working directory to where you want the document created and the that draft function does not include specifying the title or authors.  Can you do th

[2021-01-12 18:20] chantelwetzel-noaa commented on #7
I think you are now encountering the most recent error that I ran into.  I had to comment out (%) the \usepackage{datetime2-english} line in the sa4ss.sty file to render a document which is effectively the solution that you are proposing.  I have been able to render documents without this package that look fine but I am not entirely sure why this package was added and my "solution" may create issu

[2021-01-18 18:37] kellijohnson-NOAA commented on #7
I am working on this now and I think I found part of the answer [here](https://tex.stackexchange.com/questions/457376/datetime2-scientific-english-format) on stackexchange. The problem was, I didn't understand the structure of Latex packages, where the english module is part of the datetime2 package and you have to specify which module you want in square brackets rather than using the name-module.

[2021-02-24 22:51] chantelwetzel-noaa opened #10 "Document not compiling due to change in tagpdf package"
The [tagpdf](https://github.com/u-fischer/tagpdf) package on github was updated yesterday which appears to be causing an error during compiling of the document.  I get the following error:

! Package tagpdf Error: PDF resource management is no active!
(tagpdf)                tagpdf will no work..

which I have tracked down to this [function line 42](https://github.com/u-fischer/tagpdf/blob/70371fa

[2021-02-24 23:44] kellijohnson-NOAA commented on #10
From tagpdf ... Version 0.80 is a major extension of the package with a number of breaking changes.

The package
- requires the new PDF management code from the pdfmanagement-testphase bundle
- requires utf8 encoding
- requires a latex 2020-10-01 or newer and a L3 programming layer  2021-02-18 or newer
- changed the module name prefix from uftag to tag
- adds support for associated files issue #18

[2021-02-26 13:23] kellijohnson-NOAA commented on #10
I was able to recreate your error on my machine that has tinytex installed. Tinytex automatically updates ctan packages where miktex doesn't. There was a message printed to the screen during package updates that "tagpdf Error: PDF resource management is no active! tagpdf will no work.." I will work on how to install PDF resource management which I found on github [here](https://github.com/latex3/p

[2021-02-26 21:48] kellijohnson-NOAA commented on #10
I am excited to report that Adobe recently provided the LaTeX community with funding to do research on making ALL future pdfs built from .tex files compliant with respect to ADA issues. This is a long-term project that has a six-year completion timeline. Part of the backwards compatibility issue with the upgrade to tagpdf was because of their work towards meeting these goals. So, the work is in ou

[2021-03-01 20:10] kellijohnson-NOAA commented on #10
@chantelwetzel-noaa can you test it out for me?

[2021-03-01 20:24] chantelwetzel-noaa commented on #10
I updated sa4ss and attempted to create and compile a test assessment: I received the following error in the R terminal:

"C:/Users/CHANTE~1.WET/AppData/Local/Pandoc/pandoc" +RTS -K512m -RTS _main.utf8.md --to latex --from markdown+autolink_bare_uris+tex_math_single_backslash --output _main.tex --lua-filter "C:\PROGRA~1\R\R-40~1.1\library\bookdown\RMARKD~1\lua\CUSTOM~1.LUA" --lua-filter "C:\PROGRA

[2021-03-01 21:00] iantaylor-NOAA commented on #10
For what it's worth, the following worked for me, where the tagpdf folder in the tinytex library on my machine is showing that it was updated today, so presumably the current version:
[code]
The output was as follows:
[code]

[2021-03-01 22:00] kellijohnson-NOAA commented on #10
Thanks @chantelwetzel-noaa and @iantaylor-NOAA for doing the testing, hopefully I will get the automated testing up and running better so that this process will become easier. The has_crop_tools() message is a new one. I will have to investigate where that one is coming from.

[2021-03-01 22:25] kellijohnson-NOAA commented on #10
Found it, rmarkdown internal code. @iantaylor-NOAA do you have time to run the following and provide the output?
[code]

[2021-03-01 22:40] iantaylor-NOAA commented on #10
This is the output:
[code]

[2021-03-01 23:16] chantelwetzel-noaa commented on #10
I was able to compile an existing sa4ss document by just copying over the input_accessability.tex file!  So, for anyone with an existing sa4ss document you should:

1. Update the sa4ss package
2. Load package in your R session
3. Create a dummy "test" folder somewhere on your computer and set the working directory to navigate to this folder.
4. Run the draft function.
5. Copy the input_accessibili

[2021-03-01 23:22] kellijohnson-NOAA commented on #10
Great, thanks @chantelwetzel-noaa for testing it out. Given that you have already tested that it works, future users could just grab input_accessibility.tex from the sass folder in their R library for example mine is here, C:\Program Files\R\library\sa4ss\rmarkdown\templates\sa\skeleton\input_accessibility.tex, or from the skeleton folder if they have the git repo cloned. Either way will work.

[2021-03-01 23:55] chantelwetzel-noaa opened #11 "Disclaimer Location"
For draft documents we need to add the disclaimer:

_These materials do not constitute a formal publication and are for information only. They are in a pre-review, pre-decisional state and should not be formally cited {or reproduced}. They are to be considered provisional and do not represent any determination or policy of NOAA or the Department of Commerce._

 I wanted to open an issue for us to

[2021-03-02 22:29] kellijohnson-NOAA commented on #10
I am happy to report that the github actions present in this repository now compile the same test version of the pdf that @chantelwetzel-noaa mentions above and saves the pdf for viewing in the bookdown [actions folder](https://github.com/nwfsc-assess/sa4ss/actions/). I don't think anyone other than the data-moderate team has actually started to use this package, so I am assuming that @brianlangse

[2021-03-02 22:29] #10 closed

[2021-03-02 22:32] kellijohnson-NOAA commented on #11
I worry that people don't actually read the second page, and therefore, I think we should put it on the first page.

[2021-03-02 22:33] kellijohnson-NOAA commented on #11
Do we want a draft watermark as well? I am not sure how "fancy" we want to go, but I figured it if is just a discussion here, then skies the limit.

[2021-03-02 22:35] kellijohnson-NOAA commented on #7
- [ ] Need to create helper functions that ensure these packages are loaded ahead of time behind the scenes.

[2021-03-02 22:40] kellijohnson-NOAA commented on #3
The package will ONLY WORK WITH TINYTEX or TexLive, which is what tinytex installs. MikTeX doesn't have the necessary packages that are used to create 508 compliance right now. The readme is updated to try to provide users with this guidance prior to failing. @melissamonk-NOAA please feel free to update the [tinytex section of the readme](https://github.com/nwfsc-assess/sa4ss#install-tinytex) if y

[2021-03-02 22:50] iantaylor-NOAA commented on #11
I think a draft watermark would be ambiguous and potentially distracting.
I do think it would be useful to have options or user-defined text
describing what version of the document it is, like "Pre-review draft",
"Post-review draft" which could then be removed for the final submission.
This could go on the first page above the data and the disclaimer (which I
also support putting on page 1).
But a

[2021-03-02 23:02] chantelwetzel-noaa opened #12 "pandoc installation"
Thank you to @kellijohnson-NOAA for adding to the ReadMe to help with installation. One item that is not addressed there is the installation of pandoc.  I think I remember needing to install this on my machine since I am not working in Rstudio but I am not 100% if this was a required step.  If so we should add some information about what type of user would need to have pandoc installed (R terminal

[2021-03-02 23:05] kellijohnson-NOAA commented on #12
This [website](https://alexd106.github.io/intro2R/install_rmarkdown.html#:~:text=The%20R%20companion%20package%20tinytex,R%20Markdown%20documents%20to%20PDF.&text=With%20the%20rmarkdown%20package%2C%20RStudio,compile%20most%20R%20Markdown%20documents.) says that you will need to install pandoc if you don't have Rstudio. I think IT installs Rstudio by default unless you are weird like me and ask to

[2021-03-02 23:39] chantelwetzel-noaa commented on #12
Steps for pandoc check (notes from discussion with Ian, Kelli, and Jason):

- Rterminal - Check for pandoc being available in the R terminal by calling rmarkdown::pandoc_available()  If you get a FALSE in return this could mean that pandoc is either not installed or not available in your PATH.  If you have Rstudio installed on your machine check to see if pandoc is available there.
- Open Rstudio

[2021-03-02 23:44] iantaylor-NOAA commented on #12
Thanks @chantelwetzel-noaa.
In the last step on your list, if you return to the same command line window, I don't think it will be aware of the updates to your path. You need to open a new command window. Likewise rmarkdown::pandoc_available() may not see the updates to your path if the R terminal was already open, but opening a new R terminal should allow it to see the updates.

[2021-03-03 16:29] chantelwetzel-noaa opened #13 "inputenc and hyperxmp warnings for sa4ss documents created before accessibility updates"
For my existing documents, created prior to the new accessibility updates, I am able to compile the document but I am getting two warnings that I did not receive for the test document created from the updated package.

The first warning is for the inputenc package:

`Package inputenc Warning: inputenc package ignored with utf8 based engines.`

The second warning is for the hyperxmp package:

`Pack

[2021-03-03 16:35] kellijohnson-NOAA commented on #13
@chantelwetzel-noaa thanks for noting these, and yes the two packages don't play nice with the updates to tagpdf. I think that the larger question here though is, how do we find a sustainable way forward that users can update their sty file when the package is updated without breaking their existing code. Do you ever touch the .sty file for things specific to your document? It could be that we jus

[2021-03-03 16:50] chantelwetzel-noaa commented on #13
I have tried to avoid making any changes to the sty file but I have made 3 edits. One of these we (or actually I) should add it to the template but the other two are workarounds for issues I have encountered and we may want to determine if there are better ways to deal with them.

Edits:
1) Add the Hook and Line survey to the acronym list:
`\newacronym{s-hkl}{Hook and Line Survey}{\glsentrytext{nw

[2021-03-03 17:03] kellijohnson-NOAA commented on #13
First, yes if you could add the acronym that would be EXCELLENT. Second, thank you so much for starting this issue, it has generated lots of development ideas in my head that would not have come up if I was left to think alone.
I think in the future it would be best to have the acronym list as a separate file. Though, I probably won't make that change this year.
Regarding how to update the sty fil

[2021-03-03 17:09] kellijohnson-NOAA opened #14 "pull out acronym list into separate file"
Mentioned in #13 where @chantelwetzel-noaa had an update to the acronym list and having it in the sty file makes it slightly convoluted for users to update. Future versions of the package would benefit from having this as a stand-alone file such that they could provide updates to developers or pull requests for additions quite easily. The sty file is trash and so hard to muck through, not a good p

[2021-03-03 19:28] melissamonk-NOAA commented on #3
@kellijohnson-NOAA please close #3
(I don't have permissions to do so)

[2021-03-03 19:30] #3 closed

[2021-03-03 19:34] chantelwetzel-noaa commented on #13
I don't think that would be too harsh.  Ideally, if people find the need to edit the sty file, then it would best to encourage them to propose their edits to the template.  This approach might encourage people to take this approach out of fear alone!

[2021-03-03 23:53] shcaba opened #15 "Error in pandoc when applying sa4ss"
I followed the Readme instructions (and made sure all libraries are installed), confirmed the presence of pandoc in RStudio, and tried the "Create a PDF" example, but get the following error:

Error: pandoc document conversion failed with error 1
Please delete _main.Rmd after you finish debugging the error.

ADDED:
While pandoc is listed in my path variables, I get this error when trying in the R

[2021-03-03 23:57] kellijohnson-NOAA commented on #15
Can you zip the folder where you were trying to build it and email it to me?

[2021-03-04 15:10] kellijohnson-NOAA commented on #15
I think one problem is in that Rtools is higher up in your path than rtools40, which is leading to the discrepancies in the error messages between Rstudio that forces the use of rtools40 and the R terminal that uses the hierarchy of your path. We might need IT to remove the old Rtools from your path.

Then the second problem is the lack of access to sed. I think when we tried to add rtools40 to th

[2021-03-05 00:07] kellijohnson-NOAA commented on #12
I just updated pandoc today on one of my machines ... which led to the new function session_test() returning an informative error message for me.
[code]
So, we will need to find a way forward so that both versions of pandoc work. I wonder what version @shcaba has installed?

[2021-03-05 16:03] chantelwetzel-noaa commented on #12
I have pandoc version 2.10 and I think @shcaba had a slightly newer version (2.11?).  What revision to the template would be required for the newer versions of pandoc?

[2021-03-05 16:13] kellijohnson-NOAA commented on #12
I just upgraded to 2.11.4. They stopped the use of an argument
[code]
So, it is for the better I think but leads to a lack of backwards-compatible code.

[2021-03-10 01:52] mkapur commented on #15
I was also having install issues and received the same pandoc errors at first, but got the example to work using the following. Hopefully this might help someone else.
1. I ensured my system `PATH` was updated to have `rtools40` & friends first.
2. I installed the latest version of `pandoc` by downloading the windows installer [here](https://pandoc.org/installing.html) & restarting my computer aft

[2021-03-10 15:15] mkapur opened #16 "! LaTeX Error: Environment CSLReferences undefined."
When running the example, I get the following:
[code]
I see that on line ~176 of `_main.tex` there is a reference to [this rmakrdown issue](https://github.com/rstudio/rmarkdown/issues/1649) though I am not clear whether the entirety of the template fix is actually here. In any case, it apepars that the `.tex` file gets overwritten (from the cloud?) when I call `bookdown::render_book` so I wasn't a

[2021-03-10 16:28] mkapur commented on #16
Ah, that might be it. Based on the pandoc errors I'd received (and mentioned [here](#15 )) I installed the latest version (2.1.2). Do you know which version number is compatible?

[2021-03-10 19:07] mkapur commented on #16
Update: after some trial & error, I was ble to get the PDF to generate (though it added this warning:
[code]

To do so, I downloaded `[pandoc 2.8.1](https://github.com/jgm/pandoc/releases/tag/2.8.1)`. (The version right before this, `2.8.0.1` had bibliography issues). In the process I realized that RStudio does not always update the version of pandoc used based on the most recent install, so I had

[2021-03-11 19:31] kellijohnson-NOAA commented on #16
Thanks @mkapur . Hopefully, I will make a fix for version soon. But I am closing this because the original issue of pandoc version remains open in #15 to remind me.

[2021-03-11 19:31] #16 closed

[2021-03-12 22:10] chantelwetzel-noaa opened #17 "Incorporating text on the same page with tables"
As I have begun to work on the executive summary I have noticed an issue where pages with tables won't include any text.  I am not having this issue with pages with text and figures.  I suspect it is related to some setting I have specified (e.g. clearpage with tables) but I am a little uncertain as to what.  I am currently adding tables to this section using the LaTeX \include command. Thought I

[2021-03-16 03:12] kellijohnson-NOAA commented on #17
@chantelwetzel-noaa, which assessment is this? I thought I would try to build it and see where things are going wrong.

[2021-03-16 13:53] chantelwetzel-noaa commented on #17
I am having this issue for the Dover sole document.  All the rmd file are in the [github repo](https://github.com/chantelwetzel-noaa/dover_sole_2021/tree/master/write_up) and a pdf from a recent build is available on the network in the Dover sole "write_up" folder.  For unknown reasons, I have ran into 'hook' issues when pushing the built pdf to github (never encountered this in the past) so unfor

[2021-03-16 15:57] kellijohnson-NOAA commented on #17
Believe we tracked this down to the use of `\include` versus `\input` for all of the table files. See guidance [here](https://tex.stackexchange.com/questions/246/when-should-i-use-input-vs-include). Include leads to clearpage before and after the text in the file.

[2021-03-16 15:57] #17 closed

[2021-03-23 20:01] melissamonk-NOAA opened #18 "Author list changes"
@kellijohnson-NOAA Please add E. J. Dick and Tanya L. Rogers, both SWFSC, to the author list.
Xi He can be removed.

[2021-03-23 21:27] #18 closed

[2021-03-23 22:41] kellijohnson-NOAA commented on #15
I think @mkapur 's error is because of the newer version of Pandoc. I found guidance (here)[https://github.com/rstudio/rticles/pull/335/commits/a9937b6a3b14b638a29b639e046f36300676f944] for the rticles package in how to accommodate newer versions of Pandoc and plan on implementing them soon.

[2021-03-24 12:49] melissamonk-NOAA commented on #15
I also just rant into a similar issue when running bookdown.  I can knit an individual .Rmd file, but not using the bookdown package. There'san additional error i added just so you're aware of it for has_crop_tools.  I do not have Rtools or rtools40 installed or in my path environment.  Do I need to install one or the other?

Error:
pandoc.exe: sed: createProcess: does not exist (No such file or d

[2021-03-24 17:41] #12 closed

[2021-03-24 17:53] kellijohnson-NOAA commented on #15
- [x] d42036c allows sa4ss to work with all versions of pandoc in theory and should help @mkapur and her issue regarding CLSReferences
- [x] e8b8080 provides documentation on how to get `sed` which is what @melissamonk-NOAA was running into with the above error of `pandoc.exe: sed: createProcess: does not exist (No such file or directory)` because sed is called while running pandoc but they are ac

[2021-04-09 17:12] chantelwetzel-noaa opened #19 "Switch order of table of contents for tables and figures"
https://github.com/nwfsc-assess/sa4ss/blob/4d910250fd0355a30bbfc01d775ddce8d18ca224/inst/rmarkdown/templates/sa/resources/sadraft.tex#L332

I think the standard order for the back of the document is tables (e.g. 52tables) and then figures (e.g., 53figure, although this can be changed by changing the file number). However, the the sadraft puts the table of contents as figures then tables.  I think

[2021-04-09 17:30] aaronmberger-nwfsc commented on #19
Related, is there a recommendation in the TOR (or otherwise) to put the list of figures and list of tables at the very beginning of the document?  Although it is nice and tidy there; I find it a bit weird that the executive summary (which is usually the first thing someone wants to read) actually starts on something like page 20 because the list of figures and tables for stock assessment documents

[2021-04-09 18:08] iantaylor-NOAA commented on #19
I don't know what sa4ss supports, but I was really happy with the amount of detail in the BigSkate table of contents that @andi-stephens-NOAA created using subsections within the figures and tables and setting `toc_depth: 4`:
https://github.com/andi-stephens-NOAA/BigSkate_Doc/blob/master/Big_Skate_2019.Rmd#L16-L17
![image](https://user-images.githubusercontent.com/4992918/114222524-8e958200-9923-1

[2021-04-09 19:04] kellijohnson-NOAA commented on #19
Thanks @chantelwetzel-noaa for the question and @aaronmberger-nwfsc for the suggestion. I would like to go forward with removing the list of table and figures because it is NOT required in the TOR. @chantelwetzel-noaa are you okay with just removing it rather than changing the order?

[2021-04-09 19:10] aaronmberger-nwfsc commented on #19
I think they are two different things @kellijohnson-NOAA, and this mix up is my bad as I should have started a new issue.  I think Chantel is suggesting the order of Tables and Figures in the Table of Contents be switched such that in the main document after the text there is then a Tables section and then a Figures Section.

My suggestion was to move the List of Tables and List of Figures to a di

[2021-04-22 19:48] iantaylor-NOAA opened #20 "Add instructions for using acronyms and option to include a glossary of acronyms used"
Use of the glossaries package (https://ctan.org/pkg/glossaries) seems like a great way to deal with acronyms.
However, it would be useful to provide some instruction in the README about theuse of `\Gls{}` and `\gls{}` and/or a suggestion to go read the [Beginners' Guide](https://mirror.las.iastate.edu/tex-archive/macros/latex/contrib/glossaries/glossariesbegin.pdf) to that package.

These shortcut

[2021-04-23 15:54] kellijohnson-NOAA commented on #20
Thanks @iantaylor-NOAA for mentioning this. Sometimes I forget to document additions along the way, which would have clearly been helpful here.

I have since added a short introduction to the glossary package in the [sa4ss readme](https://github.com/nwfsc-assess/sa4ss/blob/master/README.md) that will hopefully be helpful to users and point them to the main documentation as well.

Note that I remov

[2021-04-23 15:55] #20 closed

[2021-04-23 16:05] kellijohnson-NOAA opened #21 "Enhancement to include a glossary of acronyms used"
Thanks to @iantaylor-NOAA for first noting that we should have an option to create a glossary in #20. I have moved this to its own issue because I feel that the enhancement will take a while and I wanted to separate it from the lack of documentation about the glossaries package issue.

What are the main goals of the glossary that we want to facilitate (list all options below and eventually cross o

[2021-04-23 16:21] iantaylor-NOAA commented on #21
Thanks @kellijohnson-NOAA. I should have thought to add this as a separate issue to begin with. Experimenting with lingcod and going from there seems like a good plan.

My preference would be to initially just make an alphabetical list of acronyms as in https://www.dickimaw-books.com/gallery/index.php?label=acronym-nodesc. As noted in the README (thank you!), `glossaries` spells out the acronyms o

[2021-04-23 16:59] #14 closed

[2021-04-23 17:00] kellijohnson-NOAA commented on #14
Now in [sa4ss_glossaries.tex](https://github.com/nwfsc-assess/sa4ss/blob/master/inst/rmarkdown/templates/sa/skeleton/sa4ss_glossaries.tex)

[2021-05-04 17:34] mkapur opened #22 "SPR table with percent symbol in colnames won't knit"
I am working with the auto-generated .tex tables, namely file `d_SPR_ES.tex`. If I copy and paste the file as-is, I receive the following error,
[code]
which I tracked down to there being a "%" in the column titles. I attempted inserting LaTeX syntax into the colnames but the issue persisted; I was only able to get the table to render if I changed the column header to `(1-SPR)/(1-SPR 45)`.

Not su

[2021-05-04 17:51] chantelwetzel-noaa commented on #22
I have had similar issues in the past and likely tried similar solutions as you @mkapur.  For my tables I opted to either not include the percent symbol (e.g. 1-SPR) and use language in the caption saying the it was a percentage (used "percent" rather than "%" in the caption) or just use the word percent any place in the table that I would use "%".

Also, if you are creating tables using the SSexe

[2021-05-04 18:05] saasem opened #23 "removing abstracts from bib file"
Hi- I'm working on the vermilion assessment with Melissa Monk and I'm new to GitHub and R Markdown. I can't figure out how to tell R to leave out the abstract from each bibliography entry. I'm bringing in the bib file from Mendeley (couldn't find an option to leave it out before importing). Thanks!

[2021-05-04 18:15] mkapur commented on #22
Thanks @chantelwetzel-noaa. I indeed am using the `sa4ss::read_model()` function which auto-generated these tables. Not sure if my version is slightly out of date. Good to know this is common and I think folks can survive without the "%". It could be worth the time to simply truncate it from the function (if it isn't already) so less latex-friendly users don't end up with a broken document. Thanks

[2021-05-04 18:32] chantelwetzel-noaa commented on #22
If you update your r4ss package and still encounter this issue let me know.  I am sure there is a clever way to get around this issue to be able to include % in our tables.  I will leave this issue open for a while so we will remember to try to find a smarter or better solution to this issue.

[2021-05-04 18:45] kellijohnson-NOAA commented on #23
Great to hear that you are helping MM. We are happy to help provide a way forward for your bibliography, but I think we need a bit more information on what you need here. Can you provide a screen shot that maybe you mark up with what is wrong. I am thinking that the resulting Reference section in the pdf is including abstract information that you don't want to be there. If so, then we will just ne

[2021-05-04 18:59] saasem commented on #23
Thanks! Generally there seems to be excessive information in the bib file. Hopefully the screenshots with comments are helpful.

![Screenshot (79)](https://user-images.githubusercontent.com/80540922/117055418-5c83ff80-acd8-11eb-854a-362d0fbe7592.png)
![Screenshot (80)](https://user-images.githubusercontent.com/80540922/117055422-5db52c80-acd8-11eb-858c-f901381365cf.png)

[2021-05-04 19:25] mkapur commented on #22
Sure -- FWIW I updated R4SS over the weekend so I'm pretty sure I'm running the latest-ish version.

[2021-05-04 19:49] kellijohnson-NOAA commented on #23
Perfect, exactly the info that I was looking for. I think that this or any other auxiliary information in the .bib file is fine, we just need to implement the use of a .csl file to format the references. This isn't something I have previously put a lot of work into regarding this package, so it is not a surprise that things aren't working as good as they could be. I will mess with the formatting o

[2021-05-04 19:53] chantelwetzel-noaa commented on #22
@mkapur That is good to know.  It is really helpful that you specified which table seemed to be the issue.  It may be occurring due to your specific SPR type.  Can you let me know what is returned from replist[["SPRratioLabel"]] where the replist is the object created by SS_output?  Also, can you tell me what SPR type is specified in the starter file (this is towards the bottom)?  I have not encou

[2021-05-04 20:33] mkapur commented on #22
Sure:
[code]
in starter:
`1 # SPR_report_basis:  0=skip; 1=(1-SPR)/(1-SPR_tgt); 2=(1-SPR)/(1-SPR_MSY); 3=(1-SPR)/(1-SPR_Btarget); 4=rawSPR`

[2021-05-04 23:19] chantelwetzel-noaa commented on #22
@mkapur Thank you. That is really helpful.  I suspect I have done all my recent sa4ss testing on models that are using option 4 in the starter file which sets the SPRratioLabel as "1-SPR" without the SPR percent indicated.  I will get a fix to the code near the end of the week so you won't have to make hand edits to the tex files.

[2021-05-05 16:24] aaronmberger-nwfsc commented on #22
Just noting that for hake we use the paste0 function to insert % symbols into tables (see below), though I'm not familiar with the underlying tools used for building tables here.  The below code is used with xtable().  @kellijohnson-NOAA may be able to add more specifics and/or shed light if this approach is even feasible within sa4ss.

tab.filt <- cbind(yrs,
                    f(df$smed * weight

[2021-05-05 16:32] aaronmberger-nwfsc commented on #22
I notice that github is auto-adjusting the inserted code in my previous comment.  There should be two backslashes prior to the % (not one) within the quotes.

[2021-05-05 16:36] chantelwetzel-noaa commented on #22
That is really helpful to know @aaronmberger-nwfsc.  In previous versions of my rmarkdown assessment documents I was not able to get that trick to work (in the caption or the table headers I think).  However, I was using a different table creation approach.  The current approach uses kableExtra to create tex tables.  I will see if this approach allows for percent symbols in the tex tables compiled

[2021-05-05 16:38] kellijohnson-NOAA commented on #22
@mkapur can you please provide a few lines of code so I can wrap my head around things a bit more. First, what function was used to produce the .tex table file? Second, how are you bringing the table into the .Rmd file for the assessment? Sorry that I cannot recall (1) I think it is in the executive summary functions in another package right?

[2021-05-05 16:54] mkapur commented on #22
Hi All
Welp, always good to put together a reprex for problem solving. In my initial post I had tried brute latex syntax (wrapping the percent symbol in dollar signs, e.g., `$SPR_{45%}$`, as well as via `paste`, which brought about the same error.

Just now I attempted the other syntax which preceeds the percent symbol by a backslash and was able to knit successfuly.

If possible, there should be

[2021-05-05 17:15] kellijohnson-NOAA commented on #22
Thanks @mkapur that was perfect.

@chantelwetzel-noaa I think we can change the [table function](https://github.com/nwfsc-assess/sa4ss/blob/874dfb6c836aa97b61b8874e360422f6a45faa46/R/es_table_tex.R#L91) to use `escape = TRUE` but not 100% that it will work fully within the workflow. It did create the following
[code]

[2021-05-05 20:24] chantelwetzel-noaa commented on #22
As always, @kellijohnson-NOAA has come up with a simpler and more elegant solution compared to what I envisioned.  The one item in the example table that may cause an issue is the % sign in the caption.  I will be able to test this out tomorrow and provide an update to this issue.

[2021-05-07 12:12] kellijohnson-NOAA commented on #15
Thanks to @jimianelli-NOAA who pointed me to [this stack exchange](https://unix.stackexchange.com/questions/13711/differences-between-sed-on-mac-osx-and-other-standard-sed) commentary on sed across operating systems, which is making it where the example doesn't work on Macs. In short, it appears that sed should be available but the format of the function call needs to be more generic to work on Ma

[2021-05-07 13:54] chantelwetzel-noaa commented on #22
@mkapur I think I have fixed this issue. Th e fix required two changes: 1) set escape = TRUE as the default setting sa4ss::table_format function and 2) added some logic in r4ss:SSexecutivesummary to check to % symbols in the SPR type and to add the needed number of backslashes if present.  To get the corrections please update your sa4ss and r4ss packages.

[2021-05-07 13:54] #22 closed

[2021-05-07 17:45] kellijohnson-NOAA commented on #23
@saasem Can you open sa4ss.sty in the folder that you created using draft() and play around with different types of bibliographies using the following line in that file
[\bibliographystyle{abbrvnat}](https://github.com/nwfsc-assess/sa4ss/blob/aae821436119d81a6175ee64996b484497adc071/inst/rmarkdown/templates/sa/skeleton/sa4ss.sty#L60)
[Here](https://www.overleaf.com/learn/latex/Natbib_bibliography_

[2021-05-11 13:06] kellijohnson-NOAA commented on #23
@saasem I am curious if you have tried to build a pdf using the .bib file you have? I don't think that the abstract or file information will actually cause any harm given the current bibliography style of abbrvnat.

[2021-05-11 15:36] kellijohnson-NOAA opened #24 "onboard 2021 assessment modifications"
Merge in local changes made to the sa4ss template from individual repositories for the 2021 assessment cycle. Many user modifications will be helpful for the masses but there is not time during an assessment to get these merged. Please let me know if there are additional repositories that should be added to this list or just "edit" the issue and add them.
- [ ] [dover sole](https://github.com/chan

[2021-05-11 15:42] shcaba commented on #24
I do have one for squarespot, not yet, but will have one, for vermilion.

On Tue, May 11, 2021 at 8:36 AM Kelli Johnson ***@***.***>
wrote:

--

*Jason M. Cope, Ph.D.Research Fishery Biologist*
*Fishery Resource Analysis and Monitoring Division*
*Northwest Fisheries Science Center*
*2725 Montlake Blvd. East*

*Seattle, WA 98112-2013*
*NOAA Fisheries*

***@***.*** ***@***.***>206.302.2417www.nmfs.n

[2021-05-11 17:18] chantelwetzel-noaa opened #25 "Underscores Not Allowed in Figure or Table Labels"
Thank you to @brianlangseth-NOAA for finding and reporting this issue.  Underscores should not be used in table of figure label names within sa4ss.  The issue occurs within Bookdown which does not allow underscored in chunk labels since LaTeX reads underscores as special characters (more info. can be found [here](https://github.com/rstudio/bookdown/issues/336) and [here](https://bookdown.org/yihui

[2021-05-11 18:09] saasem commented on #23
Hi- thank you! Sorry for the delay. I'm trying to figure out how to build the pdf successfully and use the right bib file. Again, I'm very new to all of this :)
I see what you're saying though, that the rendered pdf may not show the abstracts in the bibliography. Once I'm able to get the pdf working I will let you know. Thanks again!

[2021-05-11 18:18] kellijohnson-NOAA commented on #23
Exactly, though we might have to use sublime and ctrl+H to search and replace techreport to manual, but we can deal with that later.

[2021-05-16 23:30] kellijohnson-NOAA opened #26 "how to use landscape tables"
Thanks to @mkapur for letting me know about her trials and tribulations with landscape tables. There are two methods one can take while writing markdown and wanting landscape pages to be intermixed with portrait pages.

1. include .tex files that contain the table code as @chantelwetzel-noaa did [here](https://github.com/chantelwetzel-noaa/dover_sole_2021/blob/181216d975e2e44edc700e489b2e792ffff3a

[2021-05-17 13:16] chantelwetzel-noaa commented on #26
Can we post what the original issue was?  I have not had any issues (probably just luck).  I created the landscape table link to in option 1 above using the table_format function as:

[code]
This was done in a R code file summarizing all sensitivities using `r4ss`. This tex file is then included in the document via `\include`.  I have also done landscape in Rmd code chunks in a similar fashion.

[2021-05-17 13:23] kellijohnson-NOAA commented on #26
I think the issue was having the \landscape call outside of a code chunk, i.e., in the markdown text. I think it depends on which version of pandoc you are using, [here](https://github.com/jgm/pandoc/issues/4667) they mention pandoc 2.2 is when changes were made.

[2021-05-17 13:32] chantelwetzel-noaa commented on #26
Gotcha.  That is helpful thanks.  In my landscape table that are created in a code chunk I don't call landscape outside the code but rather use the table function to print out a landscape table.  However, I now can see is someone was taking a different approach that this would be a problem depending upon your version of pandoc.

[2021-05-17 15:45] chantelwetzel-noaa opened #27 "Survey data sections not showing up in the document outline"
If a section in the document uses pre-defined sa4ss.sty naming variables in a section header the section will show up in the document outline as blank (can see the branch in the outline but no title appears).  Here is an example of section naming that currently is not showing up:
[code]
The quick work around is to type out the survey name by hand (i.e. NWFSC West Coast Groundfish Bottom Trawl Surv

[2021-05-17 21:57] kellijohnson-NOAA commented on #27
Thank you for reporting this Chantel. Can you try one of the other options, like \gls{s-wcgbt} instead of \arclong{s-wcgbt}? I think it must be a rendering an order of operations thing where it doesn't have access to the list when making the TOC. I will google.

[2021-05-17 22:04] kellijohnson-NOAA commented on #27
Looks like there is a lot of info [here](https://tex.stackexchange.com/questions/463684/glossaries-in-section-headings-without-shortening-after-toc) ... `to clear entries after the toc I can use \glsresetall That fixes the Problem. If the acronym comes up in the Text before, i use the \glsentryfull or \glsentrytext for the section`.

[2021-05-17 23:48] kellijohnson-NOAA commented on #25
Looks like we shouldn't use them in bib file names either, or anything that could potentially go into the YAML header. See [here](https://github.com/ulyngs/oxforddown#gotchas).

[2021-05-20 00:03] kellijohnson-NOAA commented on #19
I think the order of things in the table of contents is correct because of how the markdown files are named, but with b0aee93 I removed the list of tables and figures.

@chantelwetzel-noaa are you okay with just removing it rather than changing the order of the lists and is the TOC in the correct order for you?

[2021-05-20 13:16] chantelwetzel-noaa commented on #19
Yup.  I ended up removing this from the packaged skeleton.

[2021-05-20 13:28] #19 closed

[2021-05-20 15:58] shcaba opened #28 "Glossaries warning"
I am getting the following warning and not sure if this is common or what to do about it:
Package glossaries Warning: No language module detected for `english'.
(glossaries)                Language modules need to be installed separately.
(glossaries)                Please check on CTAN for a bundle called
(glossaries)                `glossaries-english' or similar.

SO far seems not to affect the

[2021-05-20 16:03] kellijohnson-NOAA commented on #28
The package is not part of the tinytex install, so you have to install it.
There are instructions in the README how to get rid of this warning but I am guessing we need to add the install automatically when people install sa4ss.
[code]

[2021-05-20 16:55] kellijohnson-NOAA commented on #28
Looks like it, but I am not positive. Did you try looking at the log file that was referenced to see if there is helpful information in it?

[2021-05-20 22:09] kellijohnson-NOAA commented on #28
[This](https://community.rstudio.com/t/tinytex-install-missing-latex-packages-behind-firewall/62303/2) could be helpful but [this github issue on tinytex](https://github.com/yihui/tinytex/issues/126) appears to have actual instructions.

[2021-05-23 17:19] shcaba opened #29 "Adding PDF to main assessment document"
I was attempting to add an appendix that is already in PDF format.
I came across the package pdfpages and command \usepackage{pdfpages} that is suppose to go in the preamble that would then alert markdown to insert the pdf via this command (which I put in the 54appnedix.Rmd file):
\includepdf[pages={-}]{PDFname.pdf}
where PDFname would be the name of the PDF you want to insert.

I included the PDF

[2021-05-23 17:35] chantelwetzel-noaa commented on #29
This is a great question that I have not put effort into figuring out yet.  If this is the CA management pdf, Brian and I are providing it as associated material rather than an appendix due to these challenges.  Also, we should check to see if the management changes document is the same for all our species and only provide it once as accompanying material.

[2021-05-23 17:51] shcaba commented on #29
It is totally that document (that I also currently have as a separate document as y'all), but I was hoping to surprise you and Brian by ingeniously figuring out how to include it into the document. Fail.
I thought this would be easy, and maybe is only a step away from working (unzipping the package and putting it where it needs to be?), but I also thought, given we are using the same document for

[2021-05-24 03:17] kellijohnson-NOAA commented on #29
You can use tinytex to install the package, e.g.,
[code]
but packages should also be automatically installed when building the document if they are not already present.

But, the problem with inserting a already compiled pdf is there is no way to "tag" the document for 508 compliance and if it is already tagged, I have no idea how it will conflict with our existing workflow. I think that I would l

[2021-05-24 04:02] shcaba commented on #29
Thanks Kelli. I'll move ahead with making documents like this separate attachments to the main document.

[2021-05-25 17:34] kellijohnson-NOAA commented on #7
Thanks to @yihui for fixing this in [tinytex #311](https://github.com/yihui/tinytex/issues/311)!

[2021-05-25 17:35] #7 closed

[2021-05-25 17:50] yihui commented on #7
You are welcome!

[2021-05-25 18:22] chantelwetzel-noaa commented on #24
I have encountered issues with dead cycles and the number of available floats once the number of figures in the document becomes large. I am posting to this issue as an FYI of a short-term work around that others may be interested in.  The inelegant work around to both my dover and copper repositories is at the bottom of the [sa4ss.sty file](https://github.com/chantelwetzel-noaa/dover_sole_2021/bl

[2021-05-25 21:59] kellijohnson-NOAA commented on #13
Closing this issue b/c warnings are fixed and outstanding tasks for floats are part of #24.

[2021-05-25 21:59] #13 closed

[2021-05-27 17:22] shcaba opened #30 "createProcess error"
I am running into a curious error when trying to render a new document.

I currently am able to render an assessment document, but in my attempt to create new files for a new assessment, I received this error:
"C:/Program Files/RStudio/bin/pandoc/pandoc" +RTS -K512m -RTS _main.knit.md --to latex --from markdown+autolink_bare_uris+tex_math_single_backslash --output _main.tex --lua-filter "C:\Users\

[2021-05-27 17:31] andi-stephens-NOAA commented on #30
This line

pandoc.exe: sed: createProcess: does not exist (No such file or directory)

suggests to me that you don't have "sed.exe" which should be in Rtools.  Is
Rtools installed, and on your PATH?

Cheers,

--A.

On Thu, May 27, 2021 at 10:22 AM Jason Cope ***@***.***>
wrote:

[2021-05-27 17:38] shcaba commented on #30
Rtools is in the PATH, and I am able to render a different document, but not this one or create any new ones.

[2021-05-27 17:51] andi-stephens-NOAA commented on #30
Well, that was my stab in the dark.  Sorry I couldn't help!

On Thu, May 27, 2021 at 10:38 AM Jason Cope ***@***.***>
wrote:

[2021-05-27 18:06] shcaba commented on #30
I appreciate the attempt because I have no clue!

On Thu, May 27, 2021 at 10:52 AM Andi Stephens ***@***.***>
wrote:

--

*Jason M. Cope, Ph.D.Research Fishery Biologist*
*Fishery Resource Analysis and Monitoring Division*
*Northwest Fisheries Science Center*
*2725 Montlake Blvd. East*

*Seattle, WA 98112-2013*
*NOAA Fisheries*

***@***.*** ***@***.***>206.302.2417www.nmfs.noaa.gov
<http://www.nmf

[2021-05-27 20:34] andi-stephens-NOAA commented on #30
Well, it's also always possible for files to get corrupted, and that's why
re-installing things sometimes works.

I just found out that my R installation was really old, and getting IT to
update it fixed some problems I'd been ignoring.  Now my packages all play
nicely with one another!

On Thu, May 27, 2021 at 11:06 AM Jason Cope ***@***.***>
wrote:

[2021-05-28 13:59] mkapur commented on #11
I struggled to include a disclaimer in a logical place (wasn't sure if in the .sty file or elsewhere to add) and ended up adding it as a PDF comment post-hoc. FWIW, Owen indicated that on the second page, immediately above or below the copyright, would be the best place.

[2021-05-28 14:05] chantelwetzel-noaa commented on #11
I too had a similar struggle and ideally we will update the template to include this (with the ease of removal once the assessment is final).  I ended up putting it in file 01a.Rmd so it would come up first in the document after the outline.  I then added a section header to it as well so it would come up clearly in the outline as well:

# Disclaimer{-}

_**These materials do not constitute a form

[2021-05-28 14:11] mkapur commented on #11
Thanks Chantel, that's a good workaround, and good point about "ease of removal" (less so if buried in the .sty). Ideally it could show up closer to the title page, but as long as it's somewhere.

[2021-05-28 14:48] chantelwetzel-noaa commented on #11
@mkapur I should have also said congrats on fishing the update assessment!

[2021-05-28 17:06] k-doering-NOAA commented on #30
I think Andi is on the right track, it seems like sed is not being found...I know @kellijohnson-NOAA was using sed in sa4ss to do some 508 compliance needed operations specifically, so Jason, I wonder if the other assessment document somehow doesn't have elements that required those operations (for example, maybe one uses a tables and the other doesn't)?

I see this note in the source code:
https:

[2021-06-02 20:36] kellijohnson-NOAA commented on #30
CreateProcess is a windows version of a system call that allows the exe to be turned off where system does not. See [here](http://www.cplusplus.com/forum/beginner/48283/) where someone is trying to learn about it. So, I am pretty sure that pandoc is calling sed and Windows cannot find sed. The previous stock assessment probably works because of saved information in your Rstudio project file or som

[2021-06-02 21:40] kellijohnson-NOAA commented on #30
FINAL Recommendation: If you see CreateProcess error in R console then check the following output for \Rtools\, which should NOT be in your path because all of us should be using rtools40 if you are on a Windows machine ...
[code]
If you see Rtools, then you need to have IT remove it from your path or do it yourself if you have permissions. A work around is to remove it from your path within this

[2021-06-02 22:04] iantaylor-NOAA commented on #30
I have these in my PATH
"C:\\Rtools\\bin"
"C:\\Rtools\\mingw_64\\bin"
and $RTOOLS40_HOME is set as
"C:\\rtools40"

I just removed the Rtools elements (via control panel > "Edit environmental variables for your account") but some of the tools in there were useful outside of an R session (e.g. I would use `ls` on the command line), so I've just added the following to my PATH which seems to replace t

[2021-06-02 22:08] kellijohnson-NOAA commented on #30
I have those in my path as well, so in theory you should be fine. Have you tried powershell instead of cmd? It has ls and other functions that I like b/c it mimics linux.

[2021-06-02 22:15] iantaylor-NOAA commented on #30
Thanks for the confirmation that I'm not off base.
At some point in the past I tried powershell and it didn't stick. I'll try again someday.

[2021-06-03 19:47] kellijohnson-NOAA commented on #30
Thanks to @shcaba for being patient and working through these warning messages! Using `debug(rmarkdown::render)` we were able to find that although `rmarkdown::find_pandoc()` was successful, `Sys.which()` was not. Turns out that pandoc wasn't actually in the path outside of Rstudio. Up and running with new path variables.

Lesson learned == order of path variables matter and leaving old folders or

[2021-06-03 19:47] #30 closed

[2021-06-10 15:20] kellijohnson-NOAA opened #32 "best practices -- alt.text for science figures"
## Goals in order of priority

- [ ] list of available resources with short summary of the resource (i.e., one sentence or so that people can read to facilitate deciding if the resource would actually be helpful for them given the stage they are at)
- [ ] 4-5 best practices for creating alternative text with respect to scientific figures
- [ ] document how to add alternative text to figures within

[2021-06-10 15:23] kellijohnson-NOAA commented on #32
### Resources

- [Penn State Accessibility Image ALT Tag Tips for HTML](https://accessibility.psu.edu/images/imageshtml/): tagging for when figures are repetitive, 125 characters, example text

[2021-06-10 17:12] mkapur opened #33 "update WCGBTS default text"
In working on the sablefish update text, our team thought it might be good to include the following in the boilerplate background text associated with the WCGBTS:

Note that the WCGBT Survey is not permitted to access the Cowcod Conservation areas in southern California. Additionally, there were only two vessels used in 2019 and three in 2013, with one of the three that year unable to complete its

[2021-06-10 17:28] kellijohnson-NOAA commented on #33
Thanks @mkapur et al. for the suggestion. I have added it to the list for the onboard 2021 assessment modifications to do list. Feel free to add other suggestions to either the main issue (#24), this issue, or a new issue. Thanks for using the template and for providing helpful feedback along the way.

[2021-06-16 02:29] kellijohnson-NOAA opened #34 "add_figure caption and alt_caption terminal full stop"
@chantelwetzel-noaa can you remind me why we [assume that users will not put a full stop on the end of their caption or alt_caption](https://github.com/nwfsc-assess/sa4ss/blob/bdd32c7baf7e323cb20c07fdb6f78a50ee75592f/R/add_figure.R#L56)? I am sure that we talked about it and I am just forgetting. If there is not a formatting reason why the full stop is added within the function, maybe we could add

[2021-06-16 13:36] chantelwetzel-noaa commented on #34
It would make oh so very happy if you added this. When I created this function I thought hardwiring the full stop would ensure that they were included.  However, in application I have run into instances where this has been more a pain than a help.  Your proposed function is a much more clever and wise way to make sure captions are formatted correctly.

[2021-06-16 13:56] chantelwetzel-noaa commented on #34
I cannot think of an example where we would need that.  The proposed approach would likely work for 99.9% of captions which is the best we can do.

[2021-06-16 20:26] #34 closed

[2021-06-30 21:36] kellijohnson-NOAA opened #35 "ODFW references from @aliwhitman"
Hi @aliwhitman. The sa4ss repository holds a template for creating stock assessment documents for the NW and SW Fisheries Science Centers. We are working on improving our workflow and given that you are such an integrated part of so many assessments, I am wondering if you can provide a master list of ODFW references that you cite when providing information for the stock assessments? Preferably thi

[2021-07-01 16:39] aliwhitman commented on #35
Yes, that's a great idea!  There are a number of references that are typically used in indices and data summaries that I could easily grab in a bib file for you.  Some might overlap with the existing list too.  We also have a publications page for MRP where ODFW reports are "published" (https://www.dfw.state.or.us/MRP/publications/).

- [ ]  @aliwhitman will develop a bib file with the typical ODF

[2021-07-06 21:07] kellijohnson-NOAA opened #36 "format of bib key"
Thanks to @andi-stephens-NOAA for mentioning the need for formalizing bib keys. If you have ideas or concerns please respond to this issue. It would be good to get a standard practice going forward that works for all.
### Areas of concern
1. complex enough key that it works for authors that have multiple publications in a single year in the same journal
2. not so complex that it is annoying
3. doe

[2021-07-06 21:57] andi-stephens-NOAA commented on #36
I like either:

    author_keyword_year
or
    author_year_keyword

I think the second version is a little easier to search for in a .bib file.  Camel case is just a little less clear than delimited.

[2021-07-08 19:36] kellijohnson-NOAA opened #37 "csl file"
Thanks to @melissamonk-NOAA who reminded me that we need a globally agreed upon .csl file to format references. Options are

* CJFAS
* using [pbs-assess/csasdown's csl file](https://github.com/pbs-assess/csasdown/blob/master/inst/csas-style/res-doc.sty)
* other journal csl files
* making PFMC provide a csl file, a highly unlikely option

Feel free to edit this post or reply with other options and

[2021-08-10 01:17] brry commented on #7
For reference: I have `\usepackage[showzone=false,showseconds=false]{datetime2}` and `\DTMnow` in my Rnw document.
When compiling with tinytex Version **0.32**, I also got _Package datetime2 Warning: Date-Time Language Module 'english' not installed on input line 1913._
I simply ran `tinytex::tlmgr_install("datetime2-english")` and recompiled without any changes to the document and all is good.
I

[2021-08-10 02:02] yihui commented on #7
0.32 should fix this problem automatically. If not, it'll be great to provide a minimal reproducible example so I can take another look.

[2021-08-10 14:29] kellijohnson-NOAA commented on #7
I **think** the reason that tinytex did not automatically install datetime2-english in the example given by @brry
[code]
is because the language is not declared inside the square brackets. Whereas, in [sa4ss the language is declared](https://github.com/nwfsc-assess/sa4ss/blob/10f4377bde5f6e3357c8f53b4f3c295501b8c0db/inst/rmarkdown/templates/sa/skeleton/sa4ss.sty#L55).

[2021-08-11 14:14] chantelwetzel-noaa opened #38 "Incorrect Copyright Name on Page 2"
Thank you to @shcaba eagle eye for catching that Pacific Fishery Management Council by the copyright on page to was incorrect.  The template incorrectly had it as "Pacific *Fisheries* Management Council". This has been corrected in the repo via f3ae76a2854f5c7499ed7f60baba5d80c311e9fd and will be correct for any new package installs. However, if you are using a previous sa4ss version you can corre

[2021-08-11 16:35] brry commented on #7
I ran
[code]
and in `test_dt.Rnw` have the following content:

[code]

click Compile and then search in the log for   datetime2 Warning
After running `tinytex::tlmgr_install("datetime2-english")` it compiles without the warning. In both cases, the PDF looks fine.

[2021-08-11 18:20] yihui commented on #7
I can't reproduce the problem; datetime2-english can be automatically installed on my computer after I remove it and compile the Rnw example you provided.

If you are using RStudio, be sure to check the option "Use tinytex when compiling .tex":

![image](https://user-images.githubusercontent.com/163582/129082102-c0a9fe71-b31c-43de-b869-f0308a2d616b.png)

Otherwise tinytex won't be used, so missing

[2021-08-11 21:22] kellijohnson-NOAA commented on #38
@chantelwetzel-noaa I found another one that was spelled wrong and changed them both to use glsentrylong. Then I changed the readme, description, and yaml. I think we can close this now, but I will leave that up to you.

[2021-08-11 21:28] chantelwetzel-noaa commented on #38
Good catch on that second appearance in the citation following the copyright line.

[2021-08-11 21:28] #38 closed

[2021-08-12 14:14] kellijohnson-NOAA opened #39 "Name of Executive Summary subheading stock biomass"
https://github.com/nwfsc-assess/sa4ss/blob/fcafdcfcddf89c9e6d88f6e93fee18d3bb04b9c0/inst/rmarkdown/templates/sa/skeleton/01executive.Rmd#L17

John Field mentioned that
[code]

Does anyone know if his statement is __*TRUE*__? Should I change the template to read `Stock biomass and dynamics`?

[2021-08-12 14:49] chantelwetzel-noaa commented on #39
This is TRUE.  On page [48 of the ToR](https://docs.google.com/document/d/1AluC4-pwdaXhlfCyFkC1c0YuvqyMIUzF/edit#) it provides the required sections and their names.  Looking at the required list I don't see a section called "Ecosystem Considerations" in the template. This is another required executive summary section.

[2021-08-12 15:21] #39 closed

[2021-08-12 15:44] brry commented on #7
I had not set Rstudio to always compile with tinytex, but even with all the settings as per your screenshot, no automated installation happens.
After I turned off "Always enable Rnw concordance", I now see the warning message in Rstudios Compile PDF window - with additional information:
_Warning: **tracklang.sty**:1913: Date-Time Language Module `english' not installed on input line 1913._

As sai

[2021-08-13 21:20] kellijohnson-NOAA opened #40 "center or left align column names in tables even when entries in rows are right aligned"
https://github.com/haozhu233/kableExtra/issues/66 provides a fix with
[code]
Though, through experimentation I have found this needs to be the last thing done to a `kableExtra::kbl()` object using `%>%`.

[2021-08-23 14:59] kellijohnson-NOAA opened #41 "paper size not right"
From Devo and Kris Kleinschmidt ...

In processing the Groundfish items for eCopy programming I ran into an issue with every single stock assessment file where the page size is just slightly larger than 8.5 x 11 (see screenshot).  This requires me to go re-PDF each file individually then program it into the eCopy software otherwise the application will error upon printing. I'm unsure who is creati

[2021-08-26 16:53] kellijohnson-NOAA opened #42 "bundle tables for SAFE"
Devo requested the following tables because they are what is needed for him to make graphics and the like for the SAFE document:
* spex projection tables,
* decision tables, and
* the table with the extended time series of estimated biomasses, recruitments, depletion and exploitation rates

I think we could make it automatic where the tables were bundled and zipped for each stock assessment docume

[2021-09-01 18:47] chantelwetzel-noaa opened #43 "Table of contents and other lists need to be tagged"
Currently, lists and the table of contents (considered to be a longer list) are not being tagged in the assessment document.  The tables of contents currently links to specific sections in the document but need to have tagged text saying the section being linked to.  There is a possibly useful conversation [here](https://github.com/jgm/pandoc/issues/5409) about how to tag table of contents within

[2021-09-01 18:53] chantelwetzel-noaa opened #44 "Character Encoding Issues for Accessibility"
Encoding used for special characters are not being converted correctly. One example is $\sigma$ which produces the sigma symbol in line.  Currently, this is being determined to be a missing or bad character showing up as a blank square in the text.   According to Al Brown we may want to try using a different font to represent it or look for alternates in unicode that will encode into UTF-8 (that’s

[2021-09-01 18:57] chantelwetzel-noaa opened #45 "Equations for Accessibility"
Equations written either inline or insert between paragraph text need to be tagged.  The tag can be simple text description of the equation. As example “M equals 5.4 divided by A sub max” for the current equation used to determine the median of the natural mortality prior using the Hamel approach.  Since creating tags by hand for equations would be time consuming and prone to variation based on th

[2021-09-01 19:07] chantelwetzel-noaa opened #46 "Minor Accessibility Issues: Adding Title, Alt Text Spacing, Table/Figure Links"
There are a few minor fixes need to the following items to address some minor accessibility issues:

- [ ] Need to define document title that shows up as the title in the pdf document

- [ ] Figure captions are included in figure tag. would be better if captions were tagged separately as text. Consider adding more space between the figure and the caption — white space helps the tagger do its work

[2021-09-01 22:08] kellijohnson-NOAA commented on #41
@mkapur is this a new error? It seems like it pertains to the table of contents.

[2021-09-01 22:15] mkapur commented on #41
@kellijohnson-NOAA I can't say for sure because I never used `pdf_document2()` prior to working on the paper-size issue, and when I rendered using my original `bookdown::render_book()` it produced no errors (which was the same as back in June, the last time I edited it).

[2021-09-01 22:49] kellijohnson-NOAA commented on #41
oh okay, so we don't have to worry about it given that we are not using `pdf_document2()`. @melissamonk-NOAA uses that to produce output quickly, or more quickly than book.

[2021-09-28 20:22] kellijohnson-NOAA opened #47 "array package in sty file"
[code]

Thanks @shcaba for pointing out that some decision tables need the array package. If you have any references (i.e., web links) that explained what the above was doing and you can share them here that would be great.

[2021-09-28 20:43] shcaba commented on #47
The error I triggered was:
! Package array Error:  Illegal pream-token (C): `c' used.

This error had a general response to the issue:
https://tex.stackexchange.com/questions/513700/package-array-error-illegal-pream-token-c-c-used

The specific solution posted by Kelli I found in one of my other assessment document files.

[2021-09-29 17:16] kellijohnson-NOAA opened #48 "Need to define document title that shows up as the title in the pdf document"

[2021-10-06 14:31] chantelwetzel-noaa opened #49 "Add Citation Style Files to the template"
The reference format and citations in my document were not consistent.  As example the reference section either used author first name abbreviation or full name depending upon what information was in the bib file.   The citations typically followed the correct format of last name and date but sometimes for unknown reasons the citation would be first and middle name initials, last name, and then ye

[2021-10-06 14:41] kellijohnson-NOAA commented on #49
Thanks @chantelwetzel-noaa for the great suggestion. I think that we should have a global style file based on the fact that the Council probably wants citations in a single format and then a few auxiliary ones that produce documents using a different but well-used format. There are many out there and the Council's way of formatting references is not mainstream imo. So a few options would be nice.

[2021-10-06 15:11] kellijohnson-NOAA commented on #37
Similar to #49 so closing.

[2021-10-06 15:11] #37 closed

[2021-10-06 15:19] chantelwetzel-noaa commented on #49
I totally agree that the bib file should be standardized and have full names of authors when possible but this is rarely the case (especially for me).  I think what the default style of the packages was to use full first names in citations. However, when there are some citations with only first name initials you end up with a mix of full names and abbreviations in the citations.

Here is an exampl

[2021-10-07 00:12] kellijohnson-NOAA opened #50 "Abstracts for stock assessment documents"
## Problem

Stock assessments are complicated and long, even the Executive Summary is long. Abstracts would provide readers with a short summary of the document. But, metadata associated with stock assessments does not include an abstract because the documents themselves do not have abstracts.

## Proposed solution

Encourage stock assessment authors to create abstracts that can be included in the

[2021-10-07 01:32] kellijohnson-NOAA opened #51 "Figure 2 (Fuller et al. 2017) of fisheries connectivity"
## Idea

While reading [Fuller et al. (2017)](https://academic.oup.com/icesjms/article/74/8/2087/4082761?searchresult=1) I thought that [Figure 2](https://academic.oup.com/view-large/figure/186901467/fsx128f2.gif) would be a great addition to our stock assessments. The figure highlights the sablefish fishery but I think that we could get the code to generate the figure from @emfuller and include m

[2021-10-07 01:40] kellijohnson-NOAA commented on #49
Thanks @chantelwetzel-noaa for the clarification and I am glad that the csl file worked out. I will
- [ ] add the csl file from the lingcod repository as the default csl here
- [ ] add a call to the yaml of the appropriate .rmd file that specifies which csl file to use

Collaborators should comment below if they want other csl styles to be added, and potentially why. We should also think if we wan

[2021-10-07 15:54] emfuller commented on #51
@kellijohnson-NOAA what a wonderful note to get! Nothing is better than hearing this might be _actually_ useful visualization for stock assessments! I will take a shot at digging up my code - but I used the R package [igraph](https://igraph.org/r/). Lots of tweaking to set up the node locations - but what you need is a network, edge weights, node sizes and node names.

[2021-10-07 20:41] jameals commented on #51
hi!

i will respond via git later but fyi we are advancing and modernizing this
work here: https://github.com/jameals/cciea_networks

networks were in this year's status report to the PFMC and will also reside
on the CCIEA webpage

https://www.pcouncil.org/documents/2021/02/i-1-a-iea-team-report-1.pdf/

On Thu, Oct 7, 2021 at 1:12 PM Kelli Johnson ***@***.***>
wrote:

--
**************************

[2021-10-07 20:49] kellijohnson-NOAA commented on #23
Also referenced need for csl file in #49 so closing this issue.

[2021-10-07 20:49] #23 closed

[2021-10-08 11:05] kellijohnson-NOAA opened #52 "include acronyms from NMFS NOAA Stock Assessment Improvement Plan"
## Problem

Some of the acronyms in the [update to the NMFS NOAA Stock Assessment Improvement Plan](https://spo.nmfs.noaa.gov/sites/default/files/TMSPO183.pdf) are not included in the glossary.

## Proposed solution

Add the following acronyms to the glossary if they are not already included:

- ABC—Acceptable Biological Catch
- ACLs—Annual Catch Limits
- ADF&G—Alaska Department of Fish and Game
-

[2021-10-08 11:23] kellijohnson-NOAA opened #53 "include more acronyms"
## Problem

Not all acronyms are included in the glossary. There are many lists of acronyms out there and it is hard to keep track of them all.

## Proposed solution

1. document an onboarding process for acronyms
  - tag
  - issue
  - project board
2. use comments in the glossaries file to document what lists have been included
3. List of potential references
  - [x] #52
  - [ ] [SAFMC](https://s

[2021-10-18 21:45] kellijohnson-NOAA commented on #49
I am wondering if we should use ICES Journal of Marine Science formatting because that is what ICES stocks do and it is mandated in their TOR. Given we have no mandate or major journal to guide us here, I thought conforming might be appropriate. We could also see what DFO does (cc @seananderson).

[2021-10-18 22:04] seananderson commented on #49
There's a Canadian Science Advisory Secretariat (CSAS) standard reference format, which is very close to the CJFAS reference format. We modified the CJFAS .csl file to match and use only that. https://github.com/pbs-assess/csasdown/tree/master/inst/rmarkdown/templates/resdoc/skeleton/csl

You definitely don't want to write one of those from scratch. I assume you've seen it, but this probably the b

[2021-10-18 22:27] kellijohnson-NOAA commented on #49
Thanks Sean, we have been using the csl from CJFAS but I wasn't sure if that was the "best" option.

[2021-10-19 15:43] brianlangseth-NOAA opened #54 "Subscripts and superscripts in table names"
Table editing is tricky when getting comments back from STAR panel chairs who are used to fixes being easy if in word. How do I add subscript/superscript within table row or column names? Ive tried T\\\textsubscript{MIN}, T\~MIN\~ but neither work. Currently Im not using save.kable, is this the issue?

[2021-10-19 15:46] #54 closed

[2021-10-21 23:13] kellijohnson-NOAA opened #55 "Ability to compile a single chapter at a time"
## **Problem**

Document takes a long time to process. So, it would be nice if you could compile individual chapters into a separate document that would be smaller to open.

## **Proposed solution**

No idea. Will need to revamp quite a few things to make this operational.

## **Disclaimers**

* variables will need to be available at the start
* could make things more complicated, might be better

[2021-10-23 13:49] kellijohnson-NOAA opened #56 "default text: save in functions rather than in templates"
## **Problem**

Default text, such as that here,
https://github.com/nwfsc-assess/sa4ss/blob/4998bf06b1e132fda382acd62dd3804ad58f1e9c/inst/rmarkdown/templates/sa/skeleton/20data.Rmd#L3-L21
is not
* updated automatically for users when text is edited in the package
* available across templates if we were to have multiple templates available

## **Proposed solution**

Write text in a function and cal

[2021-10-23 17:31] kellijohnson-NOAA opened #57 ".bib file: automated creation of .bib files for top journals"
## **Problem**

It is a lot of work to make .bib files by hand or through software such as Endnote, Zotero and Mendeley. I mention these particular software platforms because I know they are being used by people using sa4ss. These resulting bib files are often fraught with errors. Manual creation of the files takes hundreds of hours and can still be full of errors. Nelson Beebe suggests that the o

[2021-10-24 12:44] kellijohnson-NOAA opened #58 "AFS species names list"
## **Problem**

Species names are inconsistent, e.g., "Pacific hake" versus "Pacific Hake", where the latter is formally used by the [AFS Names of Fishes](https://fisheries.org/books-journals/writing-tools/names-of-fishes-searchable-version/).

## **Proposal**

:shrug:

## **:cucumber:**

* [AFS Names of Fishes](https://fisheries.org/books-journals/writing-tools/names-of-fishes-searchable-version/

[2021-11-03 19:07] kellijohnson-NOAA commented on #57
Journal of Fish Biology

[2021-11-03 19:07] kellijohnson-NOAA commented on #57
Ecological Modelling

[2021-11-03 19:08] kellijohnson-NOAA commented on #57
Reviews in Fish Biology and Fisheries

[2021-11-03 19:09] kellijohnson-NOAA commented on #57
Natural Resource Modeling

[2021-11-03 19:09] kellijohnson-NOAA commented on #57
Transactions of the American Fisheries Society

[2021-11-03 19:11] kellijohnson-NOAA commented on #57
Journal of Mathematical Biology

[2021-11-03 19:14] kellijohnson-NOAA commented on #57
Fish and Fisheries

[2021-11-11 17:57] kellijohnson-NOAA commented on #57
Final 10 journals are as follows:
1. [Fisheries Research](https://www.journals.elsevier.com/fisheries-research)
1. [ICES Journal of Marine Science](https://academic.oup.com/icesjms)
1. [Canadian Journal of Fisheries and Aquatic Sciences](https://cdnsciencepub.com/journal/cjfas)
1. [Fish and Fisheries](https://onlinelibrary.wiley.com/journal/14672979)
1. [Journal of Fish Biology](https://onlinelibr

[2021-11-11 17:57] #57 closed

[2021-11-12 16:12] kellijohnson-NOAA opened #59 "generic text for CAAL and why they are used"
## **Problem**

Many versions of text explaining why we use CAAL data exist and have been used in various stock assessments, which makes it hard to maintain and also not consistent across documents.

## **Proposal**

Create generic text that can be included in a document, complete with references, for those using CAAL data. This can be called in a single time in a consistent place within the docum

[2021-11-12 18:41] kellijohnson-NOAA commented on #57
Early feedback from Nelson suggests that ICES uses Oxford publishing, a publisher that stops downloads from text-based tools, i.e., lyns, wget, and curl. So it might not be possible to get this journal. Elsevier and Wiley are easy 🥇 .

[2021-11-15 17:07] kellijohnson-NOAA opened #60 "Error regarding available floats"
@chantelwetzel-NOAA originally posted about "... the number of available floats once the number of figures in the document becomes large. I am posting to this issue as an FYI of a short-term work around that others may be interested in.  The inelegant work around to both my dover and copper repositories is at the bottom of the [sa4ss.sty file](https://github.com/chantelwetzel-noaa/dover_sole_2021/

[2021-11-15 22:48] kellijohnson-NOAA opened #61 "spell check instructions"
## **Problem**

Spell check across multiple .Rmd files is difficult, especially if they include code and LaTex.

## **Proposal**

💡 ?

## **:cucumber:**

More talk on the [2021 lingcod repository](https://github.com/iantaylor-NOAA/Lingcod_2021/issues/70) in Issue #70.

[2021-11-15 23:00] chantelwetzel-noaa commented on #61
I did my spell checking via a very inelegant way that was not described in the lingcod discussion.  I converted the compiled pdf to a word document which allowed me to check spelling across text, tables, and figures.  The annoying part, of course, was then fixing errors by hand in each of the Rmd files.  Not great but it worked for this assessment cycle.

[2021-11-15 23:11] shcaba commented on #61
An option is to open each Rmd file in RStudio and use the spellcheck function under the "Edit" tab. It seems to overlook LaTex stuff, so doesn't get bogged down. Works well in my opinion.

[2021-11-16 02:40] kellijohnson-NOAA commented on #61
Thanks for the feedback on your workflow. I will try to document some options.

[2021-11-22 17:07] kellijohnson-NOAA opened #62 "Using \jobname for control rules"
## **Problem**

Working with multiple areas is slightly difficult and led to lots of if statements or duplicated text. For example, with lingcod it was hard to get the asis engine to print text in an existing paragraph.

## **Proposal**

I recently came across a great example of the `\jobname` operator in LaTeX at <https://latexref.xyz/Jobname.html> in combination with a LaTeX if statement.
[code]

[2022-05-19 22:26] kellijohnson-NOAA commented on #32
http://www.sigaccess.org/welcome-to-sigaccess/resources/describing-figures/

[2022-09-09 22:48] iantaylor-NOAA opened #63 "clean up / reduce redundancy in processing hte plotInfoTable csv files"
## **Note**
This may be more of an {r4ss} issue than a {sa4ss} one, but my priority is satisfying the needs of {sa4ss} developers and users, so posting here.

## **Problem**
{r4ss} writes the plotInfoTable csv files for each run which get combined/merged by `r4ss::SS_html()`. However, {sa4ss} skips the html step so requires a redundant merging of the files in https://github.com/nwfsc-assess/sa4ss/

[2022-09-20 19:25] kellijohnson-NOAA opened #64 "Soft deprecate `add_figure()`"
https://github.com/nwfsc-assess/sa4ss/blob/b8b66eb0964cd80ce40d4b9820123e0b4a93d728/R/add_figure.R#L55-L62

is no longer needed because {rmarkdown} has come a long way since 2020 when alternative text was not standard and could not be added via the code chunk options. Starting about April of 2021, {knitr} started allowing `fig.alt' as a chunk option (see [the Rstudio blog post about it](https://ww

[2022-09-20 20:17] kellijohnson-NOAA opened #65 "Switch to quarto ❓"
## **Problem**

quarto has been highlighted as the new best thing and we are using {bookdown} which relies on {rmarkdown} rather than {quarto}.

## **Proposal**

Stick with {bookdown} until 2025 assessments because currently there is nothing that we need in quarto that we cannot do in {bookdown} and everything is all set up. Second, I checked with @okenk regarding the functionality of the previewe

[2022-09-20 20:38] brianlangseth-NOAA commented on #65
Are we reasonably confident that rmarkdown and bookdown will still work by the time we are building our reports?

[2022-09-20 20:40] kellijohnson-NOAA commented on #65
@brianlangseth-NOAA 100%, the developers are committed to maintaining the packages just not adding new features.

[2022-09-20 20:45] iantaylor-NOAA commented on #65
This was useful for me to gauge the level of support: https://community.rstudio.com/t/bookdown-evolution-in-response-to-quarto/133163/4.
I'm fine staying with the status-quo until 2025. We (especially @kellijohnson-NOAA) have enough on our plates related to data management and workflow that seems more important than any potential benefit of making this switch right away instead of in a year or two

[2022-09-20 20:50] kellijohnson-NOAA commented on #36
All bib keys should be
[code]
where `Familyname` is the family name of the first author, `YYYY` is the year of the publication, and `XXX` are the upper-case first letters of the first three words of substance in the title. See the [documentation for biblabel](http://ftp.math.utah.edu/pub/biblabel/biblabel-0.09.html) by Nelson H. F. Beebe.

[2022-09-20 20:50] #36 closed

[2022-09-20 21:20] melissamonk-NOAA commented on #65
I am ok with bookdown this cycle and think that most things we do this year can easily be translated to Quarto in the future. If there are aspects of the document that we know will not translate easily we should not invest too much time in those, i.e., if how we make the document accessible will change, we may consider doing all of the 508 compliance external to markdown.

[2022-09-26 18:12] chantelwetzel-noaa commented on #65
I agree that using bookdown this next cycle will be fine. I am of similar mind to @iantaylor-NOAA that our plates are already very full and there is no need to add additional workload.